* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  transition: 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* heading 36px */

h1,
.h1,
h2,
.h2 {
  font-size: 2.25rem;
}

/* sub-heading 30px */
h3,
.h3 {
  font-size: 1.875rem;
}

/* sub-heading 20px */
h4,
.h4 {
  font-size: 1.25rem;
}

/* sub-heading 18px */
h5,
.h5,
h6,
.h6 {
  font-size: 1.125rem;
}

/* paragraph 16px */
p,
.para, a,
span,
label {
  font-size: 1rem;
  font-weight: 500;
}

.container{
  padding: 0 1.25rem;
}

@media screen and (min-width: 600px){
  .container{
    padding: 0 1.5rem;
  }
}

header ul li a.header-link-icons, .header-link-icons{
  color: #DBDDEA;
  font-weight: 300;
}
header ul li a.header-link-icons:hover, .header-link-icons:hover{
  color: #FFD60A;
  transition: .3s ease;
}

.drop-down-menu.closed-menu{
  transform: translateY(-2rem);
  opacity: 0;
  z-index: -1;
  
}
.drop-down-menu.open-menu{
  transform: translateY(0);
  opacity: 1;
}